.users-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.page-title {
    font-size: 2rem;
    color: #2c3e50;
}

.loading,
.error {
    font-size: 1.2rem;
    color: #e74c3c;
    text-align: center;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1.1rem;
}

.pagination-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.pagination-buttons button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-buttons button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters-section {
    display: flex;
    gap: 10px;
    background-color: #ecf0f1;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.filters-section input {
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.filters-section input:focus {
    border-color: #3498db;
}

.filters-section button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.filters-section button:hover {
    background-color: #27ae60;
}

.list-section select {
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1.1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    background-color: #ffffff;

    cursor: pointer;
    color: #2c3e50;
    width: 160px;
}

.list-section select:focus {
    border-color: #3498db;
}

.list-section select option {
    padding: 12px;
}



.user-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-item .user-info {
    flex-grow: 1;
}

.user-item .view-profile-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.user-item .view-profile-btn:hover {
    background-color: #2980b9;
}